p {
    font-family: Lato;
  }

  .logo-header {
    line-height: 16.5px;
    text-align: center;
    color: white;
    background-color: black;
  }

  .header-logo-image {
    text-align: center;
    margin: 20px 15px 15px 0px;
    float: left;
  }
  .container1{
    background-color: black;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   justify-content: flex-start;
  }

 .mat-tab-label {
  color: gray;
}

.mat-tab-label-active {
  color: white;
}
/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
   background: yellow;
}