.header {
    padding: 5px 10px;
    background-color: rgba(45, 44, 44, 0.582);
    color: white;
    line-height: 1px;
    position: relative;
  }
  .title-content{
    padding-top: 15px;
    font-size: 18px;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

 .ey-logo {
  height: 40px;
  width: 60px;
  padding-right: 20px;
  cursor: pointer;
}

.logoutDiv button{
    font-size: 16px;
    border-radius: 18px;
    color: white;
    border: 0px;
    outline: none;
    box-shadow: none !important;
    margin-top: 1px;
    padding: 0px 20px;
  }
  
  .logoutDiv .dropdown-menu{
    min-width: -webkit-fill-available;
    position: absolute;

  }
  .logoutDiv .dropdown-menu li {
    font-size:14px;
    margin: 20px 2px 10px 2px
  }
  
  .logoutDiv .dropdown-menu li a{
    padding: 8px 12px !important;
    cursor: pointer;
  }
  .roleDiv{
    font-size: 14px;
    text-align: right;
    display: block;
    color: silver;
    margin-right: 23px;
  }